*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    color: brown;
}

body span{
    display: flex;
}

header img{
    width: 80px;
}
header ul{
    display: flex;
}